* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url(weeb.jpg);
}

#wrap {
    width: 250px;
    float: right;
    margin-right: 200px;
    height: 25vh;
    margin-top: 25vh;
}

#wrap input {
    position: relative;
    margin: 0px;
}

input[type=submit] {
    border: none;
    height: 45px;
    width: 260px;
    padding: 15px;
    position: relative;
    margin-bottom: 10px !important;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    color: white;

    background: #351847;
    background: -moz-linear-gradient(left, #351847 0%, #270c2b 100%);
    background: -webkit-linear-gradient(left, #351847 0%,#270c2b 100%);
    background: linear-gradient(to right, #351847 0%,#270c2b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#351847', endColorstr='#270c2b',GradientType=1 );
}

input[type=text],
input[type=password] {
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    height: 30px;
    width: 250px;
    padding: 5px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

#title {
    font-size: 20px;
}